* {
    /*color: antiquewhite;*/
}
body {
    background-color: #080F28;
}

.back-color-nav {
    background-color: #3D4F91 !important;
    /*color:white !important;*/
}
.btnBuscar{
    background-color: #0094FF;
    border-radius: 0;
    margin-top: 1em;
}

.datos-pelicula{
    display: none;
}
#btnFavoritoBorrar{
    display: none;
}
#randomPeli{
    /*display: none !important;*/
}

h1,p{
    color: white;

}
#rating {
    color: white;
}

.online{
    background-color: green;
}
.offline{
    background-color: red;
}